<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/mtlogin1.css' %}" />
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <img src="{%static 'images/Menu.png'%}" width="30px" />
      </label>
      <label class="logo"><img src="{%static 'images/logo13.gif'%}" /></label>
      <ul>
        <li><a href="#" class="not_active">Home</a></li>
        <li><a href="#takecourse" class="not_active">Courses</a></li>
        <li><a href="#taketoabout" class="not_active">About</a></li>
        <li><a href="#con" class="not_active">Contact</a></li>
        <li><a id="signin" href="{% url 'loginpage'%}">Sign In</a></li>
      </ul>
    </nav>
    <div style="display: flex; align-items: center; justify-content: center">
      <div id="loginbody">
        <h1 id="logintext">LOGIN</h1>
      </div>
    </div>
  </body>
</html>
